[MASTER]
# Load modules inside anki folder
# init-hook='import sys, os; sys.path.append(os.getcwd() + "/anki")'
# Members inside aqt.qt module are not recognized by pylint
# extension-pkg-whitelist=aqt.qt

[BASIC]
# Anki and PyQt uses camel case, so change the default to it
function-rgx=_?_?[a-z][A-Za-z0-9]{1,30}$
method-rgx=_?_?[a-z][A-Za-z0-9]{1,30}_?_?$
attr-rgx=_?_?[a-z][A-Za-z0-9]{1,30}$
argument-rgx=_?[A-Za-z0-9]{1,31}$
variable-rgx=_?[a-z][A-Za-z0-9]{1,30}$
inlinevar-rgx=_?[a-z][A-Za-z0-9]{1,30}$

[TYPECHECK]
# Members inside aqt.qt module are not recognized by pylint
ignored-modules=aqt.qt

[MESSAGES CONTROL]
# - To extend anki methods I have to put exactly the same number of arguments,
# even if I do not use them all.
# - Often I have to extend a protected method.
# - Often the parameters name needed to use are equal an import.
disable=unused-argument,protected-access,redefined-outer-name,import-error,no-name-in-module
